xml/index.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Rashon-Suppliers">
    <xs:annotation>
      <xs:documentation> root </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="shop" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="id"/>
              <xs:element type="xs:string" name="shop-name"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:float" name="contact"/>
              <xs:element type="xs:string" name="owner-name"/>
              <xs:element type="xs:string" name="discount"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>